<!DOCTYPE html>

<html>

<head>
    <title>Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customers_style.css') }}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/customers">Customers</a></li>
                <li><a href="/generator">Generator</a></li>
                <li><a href="/validator">Validator</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Coupon Generator</h1>
        <!-- Type -->
        <div class="form-group">
            <label for="couponType">Select Coupon Type:</label>
            <select id="couponType">
                <option value="25_off">25% off order</option>
                <option value="50_off">50% off order</option>
                <option value="free_item">Free side item with qualifying purchase of $10</option>
            </select>
        </div>
        <br>
        <!-- Timeframe -->
        <div class="form-group">
            <label for="timeframe">Select Timeframe:</label>
            <div class="time-inputs">
                <label for="from">From:</label>
                <input type="text" id="fromTime" placeholder="12:00">
                <select id="fromAmPm">
                    <option value="am">am</option>
                    <option value="pm">pm</option>
                </select>
                <label for="to">To:</label>
                <input type="text" id="untilTime" placeholder="12:00">
                <select id="untilAmPm">
                    <option value="am">am</option>
                    <option value="pm">pm</option>
                </select>
            </div>
        </div>
        <br>
        <div class="button-container">
            <button onclick="generateCoupon()" id="generateButton">Create Coupon</button>
        </div>
        <div id="result"></div>
    </div>

    <script>
        async function generateCoupon() {
            const resultDiv = document.getElementById('result');
            const generateButton = document.getElementById('generateButton');
            const couponType = document.getElementById('couponType').value;
            const fromTime = document.getElementById('fromTime').value;
            const fromAmPm = document.getElementById('fromAmPm').value;
            const untilTime = document.getElementById('untilTime').value;
            const untilAmPm = document.getElementById('untilAmPm').value;

            generateButton.disabled = true;

            try {
                const response = await fetch('/api/coupons/generate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        type: couponType,
                        valid_from: `${fromTime} ${fromAmPm}`,
                        valid_until: `${untilTime} ${untilAmPm}`
                    })
                });

                const data = await response.json();

                if (!response.ok) {
                    resultDiv.textContent = 'An error occurred while generating the coupon';
                    resultDiv.className = 'error';
                } else {
                    resultDiv.textContent = `Coupon generated successfully: ${data.type} \n ${data.code} \n Valid from: ${data.valid_from} to ${data.valid_until}`;
                    resultDiv.className = 'success';
                }

            } catch (error) {
                console.error(error.message);
            } finally {
                generateButton.disabled = false;
            }
        }
    </script>

</body>

</html>